/problema1/Problema1/nbproject/private/
/problema1/Problema1/build/
/problema3/problema 3/nbproject/private/
/problema3/problema 3/build/
/problema3/problema 3/dist/
/problema2/problema2/nbproject/private/
/problema2/problema2/build/
/problema4/JavaApplication11/nbproject/private/
/problema4/JavaApplication11/build/
